@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto:wght@500&display=swap');

:root{
  --background-color-1:rgb(255, 61, 61);  
}


*{
  padding: 0;
  margin: auto;
}

body{
  font-family:'Roboto', sans-serif  ;
  background-color: rgb(59, 59, 59);
}

a{ text-decoration: none;}

header{
  background-color: rgb(45, 47, 48);
}

header .logo{
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 1.6em;

}

header .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav{
  display: flex;
  text-align: center;
  padding-bottom: 20px;
}

header a{
  padding: 5px 10px ;
  margin: 2px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: var(--background-color-1);
  border-radius: 5px 0px;
}

header a:hover{
  background-color: rgb(63, 63, 63);
  cursor: pointer;
}

.form-inc{
padding: 1px;


}
.input-inc{
  border-style: none;
  border-radius: 10px;
  background-color: rgb(53, 53, 53); 
  position: relative;
  top: -1em;
  left: 1em;
  text-align: center;
  color: white;
  padding: 8px;

}

.input-inc::placeholder{
  color: white;
}

.input-wrapper {
	position: absolute;
	width: 271px;
}

.input-icon {
  
	color: #ffffff;
	position: relative;
	width: 20px;
	height: 20px;
  top: 0.1em;
  left: -80%;
	transform: translateY(-50%);
}



.box-act{
  background-color: var(--background-color-1);
}
.box-act h2{
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 1.3em;
}
.box-inc-card{
  padding: 20px;
  background-color: rgb(27, 27, 27) ;
  display: flex;
  flex-wrap: wrap;
}


.box-inc-card img{
   width: 100%;
   border-radius: 3px;
   padding: 5px;

}

.box-inc-card h3{
  font-size: 1em;
  text-align: center;
  color: white;

}

.box-inc-card p{
  color: rgb(16, 155, 90);
  font-family: monospace;
  text-align: center;
  
}

.box-inc-card button{
  padding: 5px 25px;
  margin: 20px;
  background-color: var(--background-color-1);
  border-radius: 10px 2px;
  margin-left: 30%;
  cursor: pointer;
  border-style: inset ;
  border-color: rgb(44, 44, 44);
}

.text-but-descarga{
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}


.footer{
  background-color: rgb(65, 65, 65);
  color: white;
  text-align: center;
}

@media (min-width:750px){ 

 



  header .container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    
    
  }


  header nav{
    position: absolute;
    padding: 0;
    
  }

  .input-inc{
    
    position: absolute;
    top:  3.5%;
    left: 73%;
    display: block;
    padding: 8px 20px;
  }

  .box-inc-card{
     display: flex;
     flex-wrap: wrap;
     
   
    
  }


  .box-inc-card img{
    width: 200px;
    padding: 8.8px;
    

  }
  
  
  .box-inc-card h3{
    font-size: 13px;
    position: relative;
    padding: 5px;
    margin: -5pxpx;
    
  }
  
  .box-inc-card button{
    position: relative;
    left: -2em;
  }

  .box-inc-card p{
    position: relative;
    font-size: 10px;
    
  }
}